# =========================
# Dependencies
# =========================
node_modules/
package-lock.json
yarn.lock
.pnp.*

**/.yarn/*
!**/.yarn/releases/
!**/.yarn/releases/*.cjs

# =========================
# Secrets
# =========================
.env

# =========================
# Build output
# =========================
dist/
coverage/
*.tsbuildinfo

# =========================
# Logs / temp
# =========================
*.log
tmp/
.nyc*/
config_*/

# =========================
# Docs
# =========================
docs/

# =========================
# Release artifacts
# =========================
*.tgz
!release*/**/*.tgz

# =========================
# Internal / generated TS/JS
# =========================
_*.[tj]s
